@model AMS.ViewModel.InventoryDashboardReportViewModel
@Html.HiddenFor(m => m.ReportList, new { @id = "ReportListRetailAmount" })
<div class="col-sm-6 col-md-3">
    
        <div class="mini-charts-item bgm-bluegray">
            <div class="clearfix">
                <div class="chart  myBarClassMeetings col-sm-6 text-center"></div>
                <div class="count text-center">
                    <small>Retail Stock Amount</small>
                    <h2>@Html.DisplayFor(m => m.SaleAmount)</h2>
                    <small>&nbsp;</small>
                </div>
            </div>
        </div>
        
</div>
<script>
    $(document).ready(function () {
        sparklineBar('myBarClassMeetings', $("#ReportListRetailAmount").val().split(','), '45px', 3, '#fff', 2);
    });
</script>
