@*@model IEnumerable<AMS.ViewModel.GeneralCategoryMasterViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Vendors")
<script src="@Url.Content("~/Scripts/AMS_Scripts/Organisation/GeneralCategoryMaster.js")" type="text/javascript"></script>

<div id="ListViewModel">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        GeneralCategoryMaster.LoadList();
    });
</script>*@

@model IEnumerable<AMS.ViewModel.GeneralCategoryMasterViewModel>

@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
@*@Styles.Render("~/Content/Vendors")*@
<script src="@Url.Content("~/Scripts/AMS_Scripts/Organisation/GeneralCategoryMaster.js")" type="text/javascript"></script>

<div id="ListViewModel" class="container">
</div>

<script type="text/javascript">
$(document).ready(function () {
GeneralCategoryMaster.LoadList();
});
</script>
