@model IEnumerable<AMS.ViewModel.PurchaseGRNMasterViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

<script src="@Url.Content("~/Scripts/AMS_Scripts/Salary/SalaryPayRulesMaster.js")" type="text/javascript"></script>

<div id="ListViewModel" class="container">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        SalaryPayRulesMaster.LoadList();
    });
</script>


