
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
li {
    padding-top: 3px;
}
ul {
    list-style-type: disc;
}
ul, ol {
    margin: 0 1.5em 1.5em;
}
#header {
    background: #4d8cca url("../images/header_bg.gif") repeat-x scroll left bottom;
    height: 45px;
    width: 100%;
}
#mainright {
    float: left;
    overflow: hidden;
    width: 21%;
}
#mainleft {
    float: left;
    overflow: hidden;
    width: 79%;
}
#instPaginationa {
    float: right;
}
.btn-primary:hover {
    background-color: #0c7cd5;
    border-color: #0a68b4;
    color: #ffffff;
}
.btnsection {
    height: 40px;
    padding: 0 20px;
}
.btn-primary img {
    vertical-align: middle;
}
#PreviousInst {
    float: left;
}
#currentQues {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px;
    height: 380px;
}
#container {
    height: 100%;
    min-height: 100%;
    width: 100%;
}
#timer {
    border: 0 solid;
    width: 100%;
}
.numberpanel {
    background-color: #e4edf7;
    clear: both;
    width: 100%;
}
#numberpanelQues {
    overflow: auto;
    padding-top: 7px;
    width: 95%;
}
#footer a {
    color: #fff;
    text-decoration: none;
}
#footer a:hover {
    color: #fff;
    text-decoration: underline;
}
#footer .footerTataLogo {
    float: right;
    margin: 8px 10px 0 0;
}
#footer .footerCopywright {
    float: left;
    margin: 4px 0 0 10px;
}
#groups {
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 1em;
}
#viewSection {
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 15px;
    height: 10%;
    padding: 5px;
}
.tooltip {
    color: #000000;
    cursor: pointer;
    outline: medium none;
    text-align: center;
    text-decoration: none;
}
.tooltipSelected {
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    outline: medium none;
    text-align: center;
    text-decoration: none;
}
.tooltip span {
    margin-left: -999em;
}
.tooltip:hover span {
    display: block;
    font-family: arial,verdana,helvetica,sans-serif;
}
.tooltipSelected span {
    margin-left: -999em;
    text-decoration: none;
}
.tooltipSelected:hover span {
    color: #000000;
    font-family: arial,verdana,helvetica,sans-serif;
    margin-left: -1px;
    z-index: 1099;
}
.allSections {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    color: #585c65;
    cursor: pointer;
    float: left;
    height: 29px;
    line-height: 29px;
    margin-right: 6px;
    margin-top: 4px;
    padding-left: 11px;
    padding-right: 12px;
}
.allsections .disabled {
    color: #848484;
}
.currentSectionSelected {
    background-color: #38a9eb;
    border: 1px solid #38a9eb;
    color: #fff;
}
.currentSectionSelected::before {
    border: 6px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    width: 0;
}
.currentSectionSelected::before {
    border-top: 6px solid #38a9eb;
    bottom: -13px;
    left: 44%;
}
.classic {
    float: left;
    padding: 0.3em 1em 10px;
    width: 35%;
    z-index: 1100;
}
.classic {
    background: #cae1ff none repeat scroll 0 0;
    border: 1px solid #0066cc;
}
.button {
    background-color: #c7dcf0;
    border: 2px solid #a9d0f5;
    border-collapse: collapse;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 0.5%;
}
.button1 {
    background-color: #c7dcf0;
    border: 2px solid #a9d0f5;
    border-collapse: collapse;
    cursor: pointer;
    font-size: 12px;
    margin-top: 0.5%;
    text-align: center;
    width: 100%;
}
.back {
    width: 80px;
}
.actionBn {
    height: 30px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 180px;
}
#instructionsDiv {
    display: none;
    float: left;
    height: 73%;
    margin-left: 3px;
    overflow: auto;
    width: 896px;
}
#QPDiv {
    display: none;
    float: left;
    height: 73%;
    margin-left: 3px;
    overflow: auto;
    width: 896px;
}
#sectionSummaryDiv {
    border: 1px solid #c3c3c1;
    display: none;
    height: 73%;
    margin-left: 3px;
    overflow: auto;
}
.boxgreen {
    background: #698b22 none repeat scroll 0 0;
    border: 2px solid #000;
    float: left;
    height: 20px;
    margin: 10px 3px 4px 4px;
    text-align: center;
    width: 30px;
}
.boxviolet {
    background-color: #cfcdff;
    border: 2px solid #000;
    float: left;
    height: 20px;
    margin: 10px 3px 4px 4px;
    text-align: center;
    width: 30px;
}
.box1 {
    background: white none repeat scroll 0 0;
    border: 2px solid #000;
    float: left;
    height: 20px;
    margin: 10px 3px 4px 4px;
    text-align: center;
    width: 30px;
}
.boxred {
    background: #cd0000 none repeat scroll 0 0;
    border: 2px solid #000;
    float: left;
    height: 20px;
    margin: 10px 3px 4px 4px;
    text-align: center;
    width: 30px;
}
.highlightText table {
    clear: both;
    color: red;
}
.highlightText {
    clear: both;
    color: red;
}
.loginText {
    background-color: rgb(223, 239, 252);
    border: 1px solid rgb(148, 180, 193);
}
.loginLabel {
    clear: both;
    font-weight: bold;
}
.bordertable {
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    margin-top: 5px;
}
.bordertable th {
    background: #e4edf7 none repeat scroll 0 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
}
.bordertable td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    padding: 5px;
    text-align: center;
}
.questionTypeCont {
    border-top: 1px solid #c3c3c1;
    height: 30px;
    line-height: 29px;
}
.questionTypeCont .content {
    float: left;
    font-weight: bold;
    padding-left: 5px;
}
.questionTypeCont .marks {
    float: right;
    font-style: italic;
    padding-right: 5px;
}
#viewQPDiv {
    padding-left: 10px;
    padding-top: 5px;
}
.highlight {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 3px;
    color: blue;
}
.correct {
    border-radius: 3px;
    color: green;
}
.wrong {
    border-radius: 3px;
    color: red;
}
.textAreaDiv textarea {
    -moz-user-select: none;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 16px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    text-align: left;
    width: 700px;
}
#row1 {
    border: 1px solid grey;
    font-size: 16px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    text-align: left;
    width: 700px;
}
.typingTestButtonDisabled {
    background-color: #c7dcf0;
    border: 2px solid #a9d0f5;
    height: 30px;
}
.typingTestButtonEnabled {
    background-color: #38aae9;
    border-color: #38aae9;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 400;
    height: 39px;
    line-height: 39px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.feedback {
    border: 1px solid #eeeeee;
}
.feedback td {
    background-color: #ffffff;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}
.feedback th {
    background-color: #cee3f6;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}
.header {
    font-size: 16px;
    font-weight: bold;
}
.examSummaryHeader {
    text-align: center;
}
.buttonDiv {
    padding: 5px;
    text-align: center;
}
.rangeDefinitionBlock {
    background: #fff7e2 none repeat scroll 0 0;
    border: 1px solid #cccccc;
    font-family: arial,verdana,helvetica,sans-serif;
    font-size: 0.87em;
    padding: 5px;
    width: 70%;
}
.radio-btn {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 3px !important;
    margin-top: 0;
    padding: 0;
    vertical-align: middle;
}
.CodeMirror {
    border: 1px solid black;
    font-size: 13px;
}
#progQuestionContentDisplay {
    float: left;
    font-size: 13px;
    padding: 0.3%;
    text-align: left;
    width: 49%;
}
#progStatusDisplay {
    font-size: 0.9em;
    overflow: auto;
}
#progResultDisplay {
    border-bottom: 1px solid #bdbdbd;
    border-top: 1px solid #bdbdbd;
    font-size: 13px;
    margin-bottom: 0.5%;
    margin-top: 1%;
    overflow: auto;
    padding: 1%;
}
#progDescriptionDiv {
    border-bottom: 1px solid gray;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    margin-bottom: 0.2%;
    padding: 0.2%;
    text-align: left;
    width: 99.6%;
}
#progRightPart {
    border-left: 1px solid #bdbdbd;
    font-size: 0.9em;
    height: 100%;
    text-align: left;
}
#progDescriptionDiv1 {
    border-bottom: 1px solid gray;
    font-size: 13px;
    font-weight: bold;
    height: 21px;
    margin-bottom: 0.2%;
    padding: 0.2%;
    text-align: left;
    width: 99.6%;
}
#progRightPart1 {
    border-left: 1px solid #bdbdbd;
    font-size: 0.9em;
    height: 100%;
    text-align: left;
}
#progContentDisplay {
    margin-bottom: 1%;
    overflow: auto;
    padding: 1%;
}
.userInfo {
    background: transparent url("../images/userdetails-bg-repeat.gif") repeat-x scroll 0 0;
    height: 149px;
}
.userInfo .system_info {
    background: transparent url("../images/userdetails-bg-left.gif") no-repeat scroll 0 0;
    height: 149px;
}
.userInfo .system_info .system_name {
    float: left;
}
.userInfo .system_info .user_name {
    float: right;
    padding-right: 10px;
}
.name1 {
    color: #ffffff;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: left;
}
.name2 {
    color: #ffffff;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: right;
}
.details1 {
    color: #fff200;
    font-size: 44px;
    margin-left: 20px;
    text-align: left;
}
.details2 {
    color: #fff200;
    font-size: 34px;
    margin-left: 5px;
    text-align: right;
}
.details3 {
    color: #fff200;
    font-size: 34px;
    margin-left: 20px;
    text-align: left;
}
.userInfo .system_info .user_pic {
    background: #fafbfc none repeat scroll 0 0;
    border-bottom: 1px solid #e1eaf1;
    float: right;
    height: 137px;
    vertical-align: middle;
    width: 137px;
}
.userInfo .user_pic img {
    border: 1px solid #000;
    margin-top: 20px;
}
.testCaseTable td {
    text-align: center;
    vertical-align: middle !important;
    word-wrap: break-word;
}
.blueBtn {
    background: rgba(0, 0, 0, 0) url("../images/blue-btn-sprite.png") repeat-x scroll right -24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0 5px;
    white-space: nowrap;
}
.blueBtn span {
    background: rgba(0, 0, 0, 0) url("../images/blue-btn-sprite.png") repeat-x scroll left 0;
    display: inline-block;
    height: 24px;
    padding: 0 10px 0 15px;
}
#hintIcon {
    cursor: pointer;
    display: none;
    padding-left: 5px;
}
.popUpDiv {
    -moz-user-select: text;
    background-color: #ffff99;
    border: 1px solid #cc5200;
    border-radius: 5px;
    box-shadow: 0 2px 4px #767676;
    left: -48px;
    max-width: 360px;
    min-width: 120px;
    position: absolute;
    top: 22px;
    z-index: 4000;
}
.popupHeader {
    -moz-user-select: text;
    background-color: #dd6320;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}
.popUpDiv .btnclose {
    cursor: pointer;
    float: right;
}
.popUpDiv .tip {
    left: 5px;
    position: absolute;
    top: -12px;
}
.text_popUp {
    color: #2164a8;
    font-size: 11px;
    font-weight: bold;
    margin-left: 6px;
}
