@model AMS.ViewModel.CRMSaleReportViewModel
@Html.HiddenFor(m => m.ReportList, new { @id = "ReportListEnquiries" })  
<div class="col-sm-6 col-md-3">
    <a class='mfpAjaxModal' href="~/CRMSaleDashboard/GetTodaysEnquiriesList">
        <div class="mini-charts-item bgm-blue">
            <div class="clearfix">
                <div class="chart myBarClassEnquiries col-sm-6 text-center"></div>
                <div class="count text-center">
                    <small>Enquiries</small>
                    <h2>@Html.DisplayFor(m => m.ReportCount)</h2>
                    <small>&nbsp;</small>
                </div>
            </div>
        </div>
    </a>
</div>
<script>
    $(document).ready(function () {
        sparklineBar('myBarClassEnquiries', $("#ReportListEnquiries").val().split(','), '45px', 3, '#fff', 2);
    });
</script>