
@model IEnumerable<AMS.ViewModel.EntranceExamScheduleAndScheduleDetailViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Vendors")
<script src="@Url.Content("~/Scripts/AMS_Scripts/EntranceExam/EntranceExamScheduleAndScheduleDetail.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/admin/jquery-ui-1.css")" rel="stylesheet" type="text/css" />
<div id="ListViewModel">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        EntranceExamScheduleAndScheduleDetail.LoadList();
    });
</script>