@model AMS.ViewModel.OrganisationSubjectTypeMasterViewModel
<form id="FormDeleteOrganisationSubjectTypeMaster" method="post">
    @Html.HiddenFor(model => model.ID)
    <div class="widget-block" style="width: 230px; height: 144px;">
        <div class="widget-head">
            <h5>@Resources.FormDelete_SubjectTypeMaster</h5>
        </div>
        <div class="widget-content">
            <div class="widget-box">
                <div class="control-group" style="padding: 10px;">
                    &nbsp;&nbsp;<img src="~/Content/images/warning.png" />&nbsp;&nbsp;Do you want to delete? 
                        <div class="controls">
                        </div>
                </div>
                <div class="control-group" style="padding: 10px; text-align: right; margin-bottom: 0px; border: 1px solid #e5e5e5;">
                    <input type="button" id="DeleteOrganisationSubjectTypeMasterRecord" value="@Resources.ButtonAction_Delete" class="btn btn-primary" />

                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        OrganisationSubjectTypeMaster.Initialize();
    });
</script>