@model IEnumerable<AMS.ViewModel.OnlineEntranceExamQuestionBankMasterViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Vendors")
<script src="@Url.Content("~/Scripts/AMS_Scripts/OnlineEntranceExam/OnlineEntranceExamQuestionBankMaster.js")" type="text/javascript"></script>

<div id="ListViewModel">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        OnlineEntranceExamQuestionBankMaster.LoadList();
    });
</script>


