@model IEnumerable<AMS.ViewModel.FeeStructureMasterAndDetailsViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<script src="@Url.Content("~/Scripts/AMS_Scripts/Fees/FeeStructureMasterAndDetails.js")" type="text/javascript"></script>
<div id="ListViewModel" class="container"></div>
<script type="text/javascript">
    $(document).ready(function () {
        FeeStructureMasterAndDetails.LoadList();
    });
</script>

