


    <div class="block-header">
        <h2>Dashboard</h2>
    </div>
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-cyan">
                    <div class="clearfix">
                        <div class="chart stats-bar"></div>
                        <a title="Incident" href="#">
                            <div class="count">
                                <small>Incident</small>
                                <h2>4041</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-lightgreen">
                    <div class="clearfix">
                        <div class="chart stats-bar-2"></div>
                        <a title="Customer" href="#">
                            <div class="count">
                                <small>Customers</small>
                                <h2>40</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-bluegray">
                    <div class="clearfix">
                        <div class="chart stats-line-2"></div>
                        <a title="Help Center" href="#">
                            <div class="count">
                                <small>Help Centers</small>
                                <h2>32</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-orange">
                    <div class="clearfix">
                        <div class="chart stats-line"></div>
                        <a title="Staff" href="#">
                            <div class="count">
                                <small>Staff Members</small>
                                <h2>30</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-orange">
                    <div class="clearfix">
                        <div class="chart stats-bar"></div>
                        <a title="Help Categories" href="#">
                            <div class="count">
                                <small>Categories</small>
                                <h2>13</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-bluegray">
                    <div class="clearfix">
                        <div class="chart stats-bar-2"></div>
                        <a title="Support Groups" href="#">
                            <div class="count">
                                <small>Support Groups</small>
                                <h2>80</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-lightgreen">
                    <div class="clearfix">
                        <div class="chart stats-line-2"></div>
                        <a title="Roles" href="#">
                            <div class="count">
                                <small>Roles</small>
                                <h2>60</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-cyan">
                    <div class="clearfix">
                        <div class="chart stats-line"></div>
                        <a title="Sla Applicable" href="#">
                            <div class="count">
                                <small>SLA Applicable</small>
                                <h2>202</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div id="todo-lists">
                    <div class="tl-header">
                        <h2>Todo Lists</h2>
                        <small>Add, edit and manage your Todo Lists</small>

                        <ul class="actions actions-alt">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>

                    <div class="tl-body">
                        <div id="add-tl-item">
                            <i class="add-new-item zmdi zmdi-plus"></i>

                            <div class="add-tl-body">
                                <textarea placeholder="What you want to do..."></textarea>

                                <div class="add-tl-actions">
                                    <a href="" data-tl-action="dismiss"><i class="zmdi zmdi-close"></i></a>
                                    <a href="" data-tl-action="save"><i class="zmdi zmdi-check"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="checkbox media">
                            <div class="pull-right">
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="">Delete</a></li>
                                            <li><a href="">Archive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input type="checkbox">
                                    <i class="input-helper"></i>
                                    <span>Duis vitae nibh molestie pharetra augue vitae</span>
                                </label>
                            </div>
                        </div>

                        <div class="checkbox media">
                            <div class="pull-right">
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="">Delete</a></li>
                                            <li><a href="">Archive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input type="checkbox">
                                    <i class="input-helper"></i>
                                    <span>In vel imperdiet leoorbi mollis leo sit amet quam fringilla varius mauris orci turpis</span>
                                </label>
                            </div>
                        </div>

                        <div class="checkbox media">
                            <div class="pull-right">
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="">Delete</a></li>
                                            <li><a href="">Archive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input type="checkbox">
                                    <i class="input-helper"></i>
                                    <span>Suspendisse quis sollicitudin erosvel dictum nunc</span>
                                </label>
                            </div>
                        </div>

                        <div class="checkbox media">
                            <div class="pull-right">
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="">Delete</a></li>
                                            <li><a href="">Archive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input type="checkbox">
                                    <i class="input-helper"></i>
                                    <span>Curabitur egestas finibus sapien quis faucibusras bibendum ut justo at sagittis. In hac habitasse platea dictumst</span>
                                </label>
                            </div>
                        </div>

                        <div class="checkbox media">
                            <div class="pull-right">
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="">Delete</a></li>
                                            <li><a href="">Archive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input type="checkbox">
                                    <i class="input-helper"></i>
                                    <span>Suspendisse potenti. Cras dolor augue, tincidunt sit amet lorem id, blandit rutrum libero</span>
                                </label>
                            </div>
                        </div>

                        <div class="checkbox media">
                            <div class="pull-right">
                                <ul class="actions actions-alt">
                                    <li class="dropdown">
                                        <a href="" data-toggle="dropdown">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="">Delete</a></li>
                                            <li><a href="">Archive</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="media-body">
                                <label>
                                    <input type="checkbox">
                                    <i class="input-helper"></i>
                                    <span>Proin luctus dictum nisl id auctor. Nullam lobortis condimentum arcu sit amet gravida</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Recent Posts -->
                <div class="card">
                    <div class="card-header ch-alt m-b-20">
                        <h2>Recent Incident <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                        <ul class="actions">
                            <li>
                                <a href="">
                                    <i class="zmdi zmdi-refresh-alt"></i>
                                </a>
                            </li>

                        </ul>

                        <a href="<?php echo $this->Url->build('/admin/tickets/add/', true);?>">
                            <button class="btn bgm-cyan btn-float"><i class="zmdi zmdi-plus"></i></button>
                        </a>
                    </div>

                    <div class="card-body">
                        <div class="listview">
                            <a href="#" class="lv-item">

                                <div class="media">
                                    <div class="pull-left">
                                        <img src="#" class="lv-img-sm" alt="pankaj danode" height="60" width="60">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">pankaj danode</div>
                                        <small class="lv-small">Description:-The request data should follow the structure of your entities. For example if you have an article, which belonged to a user, and had many comments, your request data should resemble</small>
                                        <ul class="lv-attrs">
                                            <li>Status: New</li>
                                            <li>Priority: High </li>
                                            <li>
                                                Date Created: 3rd May, 2016
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="lv-item">

                                <div class="media">
                                    <div class="pull-left">
                                        <img src="#" class="lv-img-sm" alt="pankaj danode" height="60" width="60">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">pankaj danode</div>
                                        <small class="lv-small">Description:-When modifying records by directly setting or changing the properties no validation happens, which is a problem when accepting form data. The following sections will demonstrate how to efficiently convert form data into entities so that they can be validated and saved.</small>
                                        <ul class="lv-attrs">
                                            <li>Status: New</li>
                                            <li>Priority: Very High </li>
                                            <li>
                                                Date Created: 3rd May, 2016
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>

                            <a href="#" title="View All" class="lv-footer">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="@Url.Content("~/Content/materialtheme/vendors/sparklines/jquery.sparkline.min.js")" type="text/javascript"></script>