@{
    ViewBag.Title = "StudentIndex";
}

<div class="container-fluid">

				<ul class="breadcrumb">
	      <li><a href="#"> @Resources.MainMenu_StudentDashboard</a><span class="divider">»</span></li>
	    @*  <li class="active">Users List</li>     *@             
	    </ul>    
		
	<div class="row-fluid">
          
        
	</div>
    </div>