<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\\CTSLog\\CTSApplication.xml" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j">
				<locationInfo value="true" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<connectionStrings>
		<add name="Main.ConnectionString" connectionString="Data Source=ACL-114\SQL2017;Initial Catalog=DemoDB;User Id=sa;Password=Amla@987;" providerName="System.Data.SqlClient" />
		<!--<add name="Main.ConnectionString" connectionString="Data Source=184.168.47.13;Initial Catalog=AMS;Persist Security Info=True;User ID=amsdbuser;Password=P@$$w0rd" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=ACL-114\SQL2017;Initial Catalog=DemoDB;User ID=sa;Persist Security Info=True;Password=Amla@987" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=43.225.54.47;Initial Catalog=DemoDB;User ID=BhumatiSql;Persist Security Info=True;Password=P@$$w0rd" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=52.163.56.90;Initial Catalog=test_bhumati_db;User ID=Bhumati;Persist Security Info=True;Password=$hum456@ti!123" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=43.225.54.47;Initial Catalog=MyGreenMart_Live;User ID=BhumatiSql;Persist Security Info=True;Password=P@$$w0rd" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=52.163.56.90;Initial Catalog=QISO_DEV;User ID=Bhumati;Persist Security Info=True;Password=$hum456@ti!123" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=52.163.56.90;Initial Catalog=QISOCAFE_Live;User ID=Bhumati;Persist Security Info=True;Password=$hum456@ti!123" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=52.163.56.90;Initial Catalog=test_webservice;User ID=Bhumati;Persist Security Info=True;Password=$hum456@ti!123" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=43.225.54.47;Initial Catalog=TestLiveQisoDB;User ID=BhumatiSql;Persist Security Info=True;Password=P@$$w0rd" />-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=SAI-PC\SQLEXPRESS;Initial Catalog=AMS;Persist Security Info=True;User ID=sa;Password=pass@1234" />-->
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcAdminTemplate-20131210204421;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MvcAdminTemplate-20131210204421.mdf" providerName="System.Data.SqlClient" />
		<add name="AMSConnectionString" connectionString="Data Source=bhumatisrv;Initial Catalog=AMS;Persist Security Info=True;User ID=sa;Password=P@$$w0rd" providerName="System.Data.SqlClient" />
		<add name="AMSEntities" connectionString="metadata=res://*/AMSEntityModel.csdl|res://*/AMSEntityModel.ssdl|res://*/AMSEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bhumatisrv;initial catalog=AMS;persist security info=True;user id=sa;password=P@$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--Connection strings for Online & Offline mechanism-->
		<!--<add name="Main.ConnectionString" connectionString="Data Source=Sumit\SQLEXPRESS;Initial Catalog=SF_shop2;Persist Security Info=True;User ID=sa;Password=pass@1234;" />-->
		<add name="Onlinedb.ConnectionString" connectionString="Data Source=103.21.58.193;Initial Catalog=surbheu6_3;Persist Security Info=True;User ID=SurbhiDB_User;Password=P@$$w0rd" />
		<add name="WareHouseDb.ConnectionString" connectionString="Data Source=43.225.54.47;Initial Catalog=DWQiSoDB_Test;User ID=BhumatiSql;Persist Security Info=True;Password=P@$$w0rd"/>
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Counter1" value="1" />
		<add key="IsOffLineApp" value="0" />
		<add key="IsInventoryHtmlReports" value="0" />
		<add key="ProjectEnvoirnment" value="ProjectEnvoirnment_College" />
		<!--<add key="ProjectEnvoirnment" value="ProjectEnvoirnment_QISO" />-->
		<!--<add key="ProjectEnvoirnment" value="ProjectEnvoirnment_MGM" />-->
		<add key="ProjectLogo" value="LUBM_logo.png" />
		<add key="ProjectFaviconIcon" value="favicon.ico" />
		<!--<add key="ProjectFaviconIcon" value="favicon_QISO.png" />-->
		<!--<add key="ProjectFaviconIcon" value="favicon_MGM.png" />-->
		<add key="LangingPageImage" value="CoverPage-EIS.jpg" />
		<!--<add key="LangingPageImage" value="QISO_LANDING.jpg" />-->
		<!--<add key="LangingPageImage" value="MGM_LANDING.jpg" />-->
		<add key="LandingPage_Image_OR_Name_OR_Both_OR_None" value="None" />
		<add key="ISProjectEnvoirnmentLengthLong" value="0" />
		<add key="SendEmailID" value="bhumati.noreply@gmail.com" />
		<add key="SendPassword" value="bhumati@123" />
		<add key="ClientURL" value="www.bhumati-demo.com" />
		<add key="IsManualAttendance" value="1" />
		<!--<add key="ProjectFaviconIcon" value="favicon_Lubm.ico" />-->
		<add key="IsNewTheme" value="1" />
		<add key="owin:appStartup" value="AcademicManagementSys" />
		<!--<add key="owin:AutomaticAppStartup" value="false" />-->
		<add key="ServiceURL" value="http://localhost:1079" />
		<!--Inventory-->
		<!--Fishery-->
		<!--School-->
		<!--College-->
		<!--University-->
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<httpRuntime targetFramework="4.5.1" />
		<compilation debug="true" targetFramework="4.5.1">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<!--<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>

		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="AMS.Common" />
			</namespaces>
		</pages>

		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>

		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="20">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>

			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!--<rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>-->
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
