@model IEnumerable<AMS.ViewModel.GeneralSupplierMasterViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/AMS_Scripts/Organisation/GeneralSupplierMaster.js")" type="text/javascript"></script>
<div id="ListViewModel"></div>
<script type="text/javascript">
    $(document).ready(function () {
        GeneralSupplierMaster.LoadList();
    });
</script>