@model IEnumerable<AMS.ViewModel.InventoryWeighingDataViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Vendors")
@*@Html.Partial("_LeftMenu")*@
<script src="@Url.Content("~/Scripts/AMS_Scripts/Inventory/InventoryWeighingData.js")" type="text/javascript"></script>

<div id="ListViewModel">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        InventoryWeighingData.LoadList();
    });
</script>