@model AMS.ViewModel.FeeLateFeesMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<style type="text/css">
    .mfp-content {
        width: 70%;
    }
</style>
<div id="ListViewModel" class="container"></div>
<script src="@Url.Content("~/Scripts/AMS_Scripts/Fees/FeeLateFeesMaster.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {      
        FeeLateFeesMaster.LoadList();
    });
</script>
