<ul class="side-nav accordion_mnu collapsible" id="accordion">
        <li><a href="#" class="active"><span class="white-icons computer_imac"></span>Dashboard</a>
        </li>

        <li><a href="#" class=""><span class="white-icons users"></span>Accounts</a>
            <ul style="display: none;" class="acitem">
                <li><a href="#"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>TimeTable</a></li>              
                <li><a href="#"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Syllabus</a></li>
                <li><a href="#"><span class="sidenav-icon"><span class="sidenav-link-color"></span></span>Exam Time Table</a></li>
            
             </ul>
        </li>
    </ul>
