@model AMS.ViewModel.OnlineExamExaminationMasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<style type="text/css">
    .mfp-content {
        width:65%;
    }
</style>
<script src="@Url.Content("~/Scripts/AMS_Scripts/OnlineExam/OnlineExamExaminationMaster.js")" type="text/javascript"></script>

<div id="ListViewModel" class="container">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //OnlineExamExaminationMaster.Initialize();
        OnlineExamExaminationMaster.LoadList();

    });
</script>




