<div class="row" style="margin-top: 1%;">

                                    <div class="span0 lableAlignment">
                                       Section 
                                    </div>
                                    <div class="span0 textboxAlignment">
                                       @Html.DropDownListFor(model => model.Student_SectionID, (SelectList)ViewBag.GeneralLocationListforPermanentAddress, "--Select City--", new { @class = "input-large" })

                                    </div>
                                        <div class="span0 lableAlignment">
                                           &nbsp
                                        </div>
                                        <div class="span0 textboxAlignment">
                                          &nbsp
                                        </div>
                                </div>