
<div class="card col-sm-6" style="background: rgba(0, 0, 0, 0) none repeat scroll 0 0;box-shadow: none;">
    <div class="card-body">
        <div class="">
            <div id="ColumnBarGraphContainer" class=""></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.ajax({
            url: 'CRMDashboard/GetCRMConvertedCallDetails',
            dataType: "json",
            type: "GET",
            //   data: { FromDate: valuFromDate, UptoDate: ValuUptoDate },
            contentType: 'application/json; charset=utf-8',
            // async: false,
            //  processData: false,
            cache: false,
            delay: 15,
            success: function (data) {
                if (data.length > 0) {
                    //   var chartData = [{ name: 'Honda', data: [0.00, 0.00, 0.00, 0.00, 0.00, 50000.00, 40000.00, 0.00, 0.00, 0.00, 0.00, 0.00] }];
                    var monthArray = [];
                    var months = data[2].callCountList.trim().split(',');
                    for (var j = 0 ; j < 12 ; j++) {
                        monthArray.push((months[j]))
                    }                   
                    var chartCategories = monthArray;
                    var chartData = [];
                    var chartData123 = [];
                    for (var i = 0; i < data.length - 1; i++) {
                        var invoiceAmountList = [];
                        var aaa = data[i].callCountList.trim().split(',');
                        for (var j = 0 ; j < 12 ; j++) {
                            invoiceAmountList.push(parseFloat(aaa[j]))
                        }
                        chartData123 = {
                            name: data[i].callStatus,
                            data: invoiceAmountList,
                        };
                        chartData.push(chartData123)
                    }
                    DrawColumnChart(chartCategories, chartData);
                }
                else {
                    var chartData = "";///[{ name: 'Months', data: [0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00] }];
                    var chartCategories = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                    DrawColumnChart(chartCategories, chartData);
                }
            },
            error: function (xhr) {
                alert('error');
            }
        });
    });



    function DrawColumnChart(chartCategories, chartData) {
     
        $('#ColumnBarGraphContainer').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Number Of Calls Allocated Vs. Converted Calls',
                x: -20 //center
            },
            //subtitle: {
            //    text: 'Source: WorldClimate.com',
            //    x: -20
            //},
            xAxis: {
                categories: chartCategories
            },

            yAxis: {
                title: {
                    text: 'No. Of Calls'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            //tooltip: {
            //    valueSuffix: '°C'
            //},
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1,
                        symbol: 'circle'
                    }
                }
            },
            series: chartData
        });
    }
</script>

