@model AMS.ViewModel.FeeRefundMasterViewModel
<div class="block-header">
    <h2 style="text-transform: none;"><i class="zmdi zmdi-view-toc"></i>&nbsp;Fees Refund</h2>
</div>
<div class="card">
    <div class="card-header">
    </div>
    <div class="bootgrid-header container-fluid" id="data-table-command-header">
        <div class="row">
            <div class="col-sm-12 actionBar">
                <div class="search form-group">
                    <div class="input-group">
                        <span class="zmdi icon input-group-addon glyphicon-search"></span>
                        <input type="text" id="UserSearch" placeholder="Search" class="search-field form-control">
                    </div>
                </div>
                <div class="actions btn-group">
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                            <span class="dropdown-text" id="tblDisplayRowLength">10</span> <span class="caret"></span>
                        </button>
                        <ul role="menu" style="cursor:pointer" id="showrecords" class="dropdown-menu pull-right">
                            <li class="active" aria-selected="true">
                                <a class="dropdown-item dropdown-item-button" data-action="10">10</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="25">25</a>
                            </li>
                            <li aria-selected="false">
                                <a class="dropdown-item dropdown-item-button" data-action="50">50</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown btn-group">
                        <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle" aria-expanded="false">
                            <span class="dropdown-text">
                                <span class="zmdi icon zmdi-view-module"></span>
                            </span> <span class="caret"></span>
                        </button>
                        <ul role="menu" id="toggleTableColumn" class="dropdown-menu pull-right">
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="0" name="Student">
                                        Student<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="1" name="AcademicYear">
                                        Academic Year<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="2" name="Refund Amount">
                                        Refund Amount<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="3" name="Refund Date">
                                        Refund Date<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="4" name="Status">
                                        Status<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="5" name="Remark">
                                        Remark<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                    <label class="dropdown-item" aria-disabled="false">
                                        <input type="checkbox" checked="checked" class="dropdown-item-checkbox" value="6" name="Action">
                                        Action<i class="input-helper"></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="myDataTable" class="table table-striped table-vmiddle table-responsive ">
        <thead>
            <tr>
                <th>Student</th>
                <th>Academic Year</th>
                <th>Refund Amount</th>
                <th>Refund Date</th>
                <th>Status</th>
                <th>Remark</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var oTable;
        FeeRefundMaster.Initialize();
        oTable = $('#myDataTable').DataTable({
            "bServerSide": true,
            "sAjaxSource": "FeeRefundMaster/AjaxHandler",
            "bJQueryUI": true,
            "sScrollY": false,
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfoEmpty": "No entries to show",
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "balanceSheetID", "value": $("#selectedBalsheetID").val() });
            },
            "columnDefs": [
                             {
                                 "visible": true,
                                 "targets": 0,
                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     if (data[0] != "") {
                                         var result = "<p  style=' height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[0] + "</p>";
                                         return result;
                                     }
                                     else {
                                         return null;
                                     }
                                 }
                             },

                            {
                                "visible": true,
                                "targets": 1,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (data[1] != "") {
                                        var result = "<p  style=' height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[1] + "</p>";
                                        return result;
                                    }
                                    else {
                                        return null;
                                    }
                                }
                            },
                            {
                                "visible": true, "targets": 2,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    if (data[2] != "") {
                                        var result = "<p  style=' height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + parseFloat(data[2]).toFixed(2) + "</p>";
                                        return result;
                                    }
                                    else {
                                        return null;
                                    }
                                }
                            },
                             {
                                 "visible": true, "targets": 3,
                                 "data": null,
                                 "render": function (data, type, full, meta) {
                                     if (data[2] != "") {
                                         var result = "<p  style=' height:5px;'>" + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + data[3] + "</p>";
                                         return result;
                                     }
                                     else {
                                         return null;
                                     }
                                 }
                             },

                              {
                                  "visible": true,
                                  "targets": 4,
                                  "bSearchable": false,
                                  "data": null,
                                  "render": function (data, type, full, meta) {
                                      if (data[4] != "") {                                          
                                          if (data[4] == "True") {
                                              var result = "<p  style=' height:5px;'>" + "<button class='btn btn-xs   btn-success waves-effect'>Paid</button> </p>";
                                              return result;
                                          }
                                          else {
                                              var result = "<p  style=' height:5px;'>" + "<button class='btn btn-xs   btn-danger waves-effect'>Not Paid</button> </p>";
                                              return result;
                                          }
                                          return result;
                                      }
                                      else {
                                          return null;
                                      }
                                  }
                              },
                            {
                                "visible": true, "targets": 6,
                                "bSortable": false,
                                "data": null,
                                "render": function (data, type, full, meta) {
                                    
                                    if (data[4] != "True") {

                                        var result1 = '@Html.ActionLink("Create1", "Create", new { feeRefundID = "ID1", balancesheetID = "ID2" }, new { @class = "mfpAjaxModal" })';
                                        result1 = result1.replace("ID1", data[8]);
                                        result1 = result1.replace("ID2", $("#selectedBalsheetID").val());
                                        result1 = result1.replace("Create1", '<button class="btn btn-default" title="@Resources.ToolTip_Create"><i class="zmdi zmdi-plus"></i></button>');
                                        var result = "<p  style='text-align:center;'>" + result1 + "</p>";
                                        return result;
                                    }
                                    else {
                                        @*var result1 = '@Html.ActionLink("View1", "View", new { feeRfundID = "ID1", balancesheetID = "ID2" }, new { @class = "mfpAjaxModal" })';
                                        result1 = result1.replace("ID1", data[8]);
                                        result1 = result1.replace("ID2", $("#selectedBalsheetID").val());
                                        result1 = result1.replace("View1", '<button title="@Resources.ToolTip_Create" class="btn btn-default"><i class="zmdi view-list"></i></button>');
                                        var result = "<p  style='text-align:center;'>" + result1 + "</p>";
                                        var result = "<p  style='text-align:center;'>" + result1 + "</p>";
                                        return result;*@
                                        return null;
                                    }
                                }
                            },

            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                var table = $('#myDataTable').dataTable();
                var groupArray = '';
                api.column(0, { page: 'current' }).data().each(function (group, i) {
                    var dataArray = String(group).split(',');
                    if (last !== dataArray[7]) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="7"  style="font-weight:bold;font-size:12px;font-family: verdana;" >' + dataArray[6] + " [" + dataArray[7] + "] " + '</td></tr>'
                        );
                        last = dataArray[7];
                    }
                });
            }
        });
        DataTableSettings(oTable, "myDataTable", "toggleTableColumn");
    });
</script>
